[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
shiny = "*"
pathlib = "*"
htmltools = "*"
shinywidgets = "*"
ipyleaflet = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
